body {
    background-color: #1A1639;
    font-family: 'Fragment Mono', monospace;
}

.body-wrapped {
    background-color: #100E26;
    padding: 15px;
    margin: 15px;
}

table {
    border: 10px solid #4C4A5F;
    color: rgba(76, 74, 95, 0.90);
    text-align: center;
    align-items: center;
    font-size: 50pt;
    margin: auto auto;
}

td p {
    padding: 8px;
    margin: 0%;
}   

.numero-1 {
    color: #3C77DC;

}

.numero-2 {
    color: #3C77DC;

}

.numero-3 {
    color: #3C77DC;

}

.numero-4 {
    color: #E53A62;
}