body {
    background-color: #1A1639;
    font-family: 'Fragment Mono', monospace;
    text-align: center;
}

.body-wrapped {
    background-color: #100E26;
    padding: 15px;
    margin: 15px;
}

.num-fin, p {
    color: #f0f8ffe6;
    font-size: 30pt;
    margin-bottom: 5px;
    display: inline-block;
}

.mas {
    color: #82c301f2;
}

table {
    border: 10px solid #4C4A5F;
    color: #4c4a5fe6;
    margin: auto auto;
    align-items: center;
}

td, p {
    padding: 8px;
    margin: 0%;
}   

.numero-1 {
    color: #E53A62;

}

.numero-2 {
    color: #3C77DC;

}

.numero-3 {
    color: #E53A62;

}

.numero-4 {
    color: #3C77DC;
}