body {
    background-color: #1A1639;
    font-family: 'Fragment Mono', monospace;
    text-align: center;
}

.body-wrapped {
    background-color: #100E26;
    padding: 15px;
    margin: 15px;
}

.num-fin, p {
    color: #f0f8ffe6;
    font-size: 30pt;
    margin-bottom: 5px;
}

.mas {
    color: #82c301f2;
}

.table-div {
    display: inline-flex;
}
.table-div > table{
    margin: 10px;
}

table {
    border: 10px solid #4C4A5F;
    color: #4c4a5fe6;
    margin: auto auto;
    align-items: center;
}

td, p {
    padding: 8px;
    margin: 0%;
}   

table > hr {
    border: 3.5px solid #4c4a5fec;
    border-radius: 4px;
    display: none;
}

.numero-1 {
    color: #E53A62;

}

.numero-2 {
    color: #3c77dc;

}

.numero-3 {
    color: #e53a62;

}

.numero-4 {
    color: #3C77DC;
}